@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root{
    --IntroEmailBG: hsl(217, 28%, 15%);
    --MainBG: hsl(218, 28%, 13%);
    --FooterBG: hsl(216, 53%, 9%);
    --TestimonialsBG: hsl(219, 30%, 18%);
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --Error: hsl(0, 100%, 63%);
    --Gradient: linear-gradient(to right ,var(--Cyan), var(--Blue));
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: var(--MainBG);
}
button{
    background: var(--Gradient);
    height: 45px;
    width: 240px;
    border: none;
    color: var(--White);
    font-size: 15px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
}